/* Common styles for the pages */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h2 {
    color: #333;
    text-align: center;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 95%;
    padding: 10px; /* Adds padding to the input fields */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-div {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 30%;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

/* Styling for links as buttons */
a.button {
    width: 30%;
    display: inline-block;
    padding: 10px 20px; /* Gives the link a button-like appearance */
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #2980b9;
}

/* Additional styles for the generated table in program.html */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}